/* @group ----- Mixins ----- */

@mixin button {
    background-color: $gray;
    border: 0;
    cursor: pointer;
    padding: $spacing-s;
}

a.button {
    color: #000;
    display: inline-block;

    &:hover {
        text-decoration: none;
    }
}

@mixin de-list {
    list-style: none;
    padding: 0;
}

/* @end */

/* generic html elements */

* {
    box-sizing: border-box;
}

html {
    font: #{$base-font-size}/#{$base-line-height} "Crimson Text", serif;
    color: #676767;
}

a {
    color: $red;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

h1 {
    text-align: center;
    font-size: 2 * $base-font-size;
    margin-bottom: $spacing-l;
    line-height: 2 * $base-line-height;
    font-weight: normal;
}

h2 {
    font-size: 1.5 * $base-font-size;
    margin-bottom: $spacing-l;
    line-height: 2 * $base-line-height;
    font-weight: normal;
}

p {
    margin: $spacing-l 0;
}

    /* @group ----- Form elements ----- */

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"],
    input[type="number"],
    input[type="date"],
    input[type="datetime-local"] {
        font-family: $body-font;
        font-size: $base-font-size;
        line-height: $base-line-height;
        border: 1px solid #000;
        padding: $spacing-s - 1px;
    }

    input[type="submit"],
    button,
    .button {
        @include button;
    }

    [type="submit"] {
        //margin-left: span(3 of 10);
        margin-left: 2%;
    }

    input[type="checkbox"] {
        margin: 0;
        vertical-align: bottom;
    }

    select {
        appearance: none;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 2px;
        font-family: $body-font;
        font-size: $base-font-size;
        line-height: $base-line-height;
        padding: ($spacing-s - 1px);
        padding-right: $spacing-l;
        background: #fff url(../../../../application/asset/img/select-arrow.svg) no-repeat;
        background-position: right 6px center;
        background-size: 8px;
        height: 1.5 * $base-line-height;
    }

    .field {
        display: flex;
        flex-wrap: wrap;
        margin: $spacing-l 0;
    }

    .field .field-meta {
        width: span(3 of 10);
        text-align: right;
        padding: $spacing-s $spacing-l 0 0;
    }

    .required.field .field-meta:after {
        content: "*";
    }

    .field .field-meta .field-description {
        font-size: .875 * $base-font-size;
        line-height: .75 * $base-line-height;
        font-style: italic;
    }

    .field .inputs {
        width: span(7 of 10);
    }

    .field .inputs .value {
        margin-bottom: $spacing-m;
    }

    /* @end */

/* @end */

/* @group ----- Containers ----- */

#wrap {
    max-width: 1100px;
    margin: auto;
    padding: 0 gutter();
    position: relative;
}

#wrap {
    padding-bottom: 2 * $spacing-l;
}

@mixin container {
    max-width: 960px;
    margin: 0 auto;
}

.oc-content-inner {
    background-color: #fff;

    &:after {
        content: "";
        background-color: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        height: 9999px;
    }
}

nav ul {
    list-style-type: none;
    display: inline-block;
}

/* @end */

/* @group ----- Pagination ----- */

.pagination .button {
    min-width: 1.5 * $base-line-height;
}

.pagination form {
    display: inline-block;
    margin-right: $spacing-l;
}

.pagination input[type="text"] {
    text-align: center;
}

/* @end */

/* @group ----- Navigation ----- */

nav .navigation,
nav ul {
    @include de-list;
}

.item-pagination.navigation {
    border-top: 1px solid $gray;
    padding-top: $spacing-m - 1px;
    display: flex;
    justify-content: space-between;
}

.secondary-nav {
    text-align: center;
}

.secondary-nav ul {
    margin: 0 0 -1px;
    border-bottom: 1px solid $gray;
    padding-bottom: -1px;
}

.secondary-nav.navigation li {
    display: inline-block;
    margin-right: .5em;
    padding-bottom: $spacing-m;

    &.active a {
        color: $red;
    }
}

.secondary-nav a {
    color: #676767;
}

/* @end */

/* @group ----- Header ----- */

#skipnav {
    position: absolute;
    top: 0;
    left: -9999px;
    background-color: #fff;
    padding: $spacing-s;
    display: inline-block;

    &:focus {
        left: 50%;
        transform: translateX(-50%);
    }
}

header nav .navigation {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    padding: ($spacing-s - 1px) 0;
    margin: $spacing-l 0;
}

header nav li {
    display: block;
    margin: 0 .5em;
}

header nav li ul {
    display: none;
}

header nav a {
    font-size: .875 * $base-font-size;
}

header a {
    text-decoration: none;
}

.site-title {
    font-size: 1.5 * $base-font-size;
    text-transform: uppercase;
    letter-spacing: .125em;
    margin: (2 * $spacing-l) 0 0;
    display: block;
    vertical-align: top;
    text-align: center;

    &:hover {
        text-decoration: none;
    }
}

.site-title img {
    max-height: (6 * $spacing-l);
    max-width: 100%;
}

#header-image img {
    max-width: 100%;
    vertical-align: top;
}

#search-container {
	display: none;
    position: absolute;
    top: -(2 * $spacing-l);
    right: gutter();
}

#search-container input[type="text"],
#search-container button {
    border: 0;
    border-bottom: 1px solid $gray;
    background-color: #fff;
    height: 1.5 * $base-line-height;
    display: inline-block;
    line-height: $base-line-height;
    padding: $spacing-s;
    vertical-align: bottom;
    background-color: #fff;
    color: #676767;
}

#search-form {
    display: flex;
    padding: $spacing-s $spacing-m $spacing-m;
    box-shadow: 0 0 0 1px #dedede inset;
    background: #fff;
}

#search-form.closed {
    width: 1.5 * $base-line-height;
    height: 1.75 * $base-line-height;
}

#search-form.open {
    right: 1.5 * $base-line-height;
    position: absolute;
}

#search-form + button.search-toggle {
    bottom: 0;
    position: absolute;
    width: 1.5 * $base-line-height;
    height: 1.5 * $base-line-height;
    border-bottom: 0;
    color: darken($gray, 15%);
}

#search-form.closed + .search-toggle {
    right: 0;
    border: 1px solid $gray;
    border-top: 0;

    &:after {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
    }
}

#search-form.open + .search-toggle {
    top: $spacing-s;
    right: 0;

    &:after {
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
    }
}

#search-form.closed [type="text"],
#search-form.closed [type="submit"],
#search-form.closed #advanced-form {
    display: none;
}

#search-form button {
    width: 1.5 * $base-line-height;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;

    &:after {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: $spacing-s;
        right: 0;
        text-indent: 0;
        width: 1.5 * $base-line-height;
        text-align: center;
        cursor: pointer;
    }
}

#query:focus {
    position: relative;
    z-index: 1;
}

#advanced-form {
    background-color: #fff;
    position: absolute;
    top: 100%;
    padding: $spacing-m;
    right: 0;
    left: 0;
    border: 1px solid $gray;
    border-top: 0;
}

#advanced-form fieldset {
    margin-bottom: $spacing-m;
}

#advanced-form fieldset input {
    margin-right: $spacing-s;
}

#advanced-form p {
    margin: 0;
}

#content .blocks > h2:first-of-type {
    text-align: center;
    font-size: 2 * $base-font-size;
    margin-bottom: $spacing-l;
    line-height: 2 * $base-line-height;
    font-weight: normal;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    margin-top: (2 * $spacing-l);
    clear: both;
}

#bottom-nav li {
    display: inline-block;
    margin-right: 1em;
    font-size: .875 * $base-font-size;
}

/* @end */

/* @group ----- Off-Canvas Navigation ----- */

.oc-container,
.oc-pusher,
.oc-content {
  height: 100%;
}

.oc-content {
  //overflow-y: scroll;
}

.oc-content,
.oc-content-inner {
  position: relative;
}

.oc-container {
  position: relative;
  overflow: hidden;
  //overflow-y: scroll;
}

.oc-pusher {
  height: auto;
  min-height: 100vh;
  position: relative;
  left: 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  z-index: 99;
}
.oc-pusher::after {
  content: '';
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  background: transparent;
}
.oc-menu-open .oc-pusher::after {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  width: 100%;
}

.oc-menu {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  visibility: hidden;
  width: 225px;
  z-index: 100;
  background: desaturate(lighten($accent, 50%), 60%);
}
.oc-menu-open .oc-menu::after {
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  transition: opacity 400ms, width 0.1s 400ms, height 0.1s 400ms;
  width: 0;
}

.oc-push.oc-menu {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.oc-push.oc-menu::after {
  display: none;
}
.oc-push.oc-menu-open .oc-pusher {
  -webkit-transform: translate3d(225px, 0, 0);
  transform: translate3d(225px, 0, 0);
}

.oc-push.oc-menu-open .oc-push.oc-menu {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
  visibility: visible;
}

.no-js .oc-menu {
  height: auto;
  position: static;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  visibility: visible;
}
.no-js #oc-trigger {
  display: none;
}
.no-js .oc-pusher {
  padding-left: 0;
}

.no-csstransforms3d .oc-pusher {
  padding-left: 225px;
}

/* @end */

/* @group ----- Pages ----- */

.page .site-page-pagination {
    border-top: 1px solid $gray;
    padding-top: $spacing-m - 1px;
    margin-top: 2 * $spacing-l;
    width: 100%;

    a:last-child:not(:only-child) {
        margin-left: $spacing-l;
    }
}

.site-page-pagination {
  visibility: hidden;
}

.page #content {
    display: flex;
    flex-wrap: wrap;
}

.page #content .breadcrumbs {
    width: 100%;
}

.page #content .breadcrumbs + .blocks {
    width: 100%;
}

.page #content .sub-menu {
    padding: $spacing-l gutter() $spacing-l 0;
    width: span(2 of 16);
}

.page #content .sub-menu ~ *:not(.site-page-pagination) {
    width: span(14 of 16);
}

.page #content .sub-menu > ul {
    margin: 0;
}

.page #content .sub-menu a {
    font-size: .875 * $base-font-size;
    color: #676767;
}

.page #content .sub-menu .current a {
    color: $red;
}

.page #content .sub-menu > ul > li {
    padding: $spacing-s - 1px;
}

.page #content .sub-menu > ul > li:not(:last-of-type) {
    border-bottom: 1px solid $gray;
    margin-bottom: $spacing-s;
}

.page #content .sub-menu h4 {
    border-bottom: 1px solid $gray;
    padding-bottom: $spacing-s - 1px;
    margin: 0 0 $spacing-s;
}

.file,
.item-showcase .resource {
    width: min-content;
}

.item-showcase .resource,
.file .resource {
    display: flex;
    flex-direction: column;
    flex-basis: content;
    width: min-content;
    max-width: 100%;
    margin: 0 $spacing-l $spacing-l;

    img {
        max-width: 100%;
    }

    & > a:first-child,
    & .media-render > a:first-child {
        width: max-content;
        max-width: 100%;
    }
}

.item-showcase .resource h3,
.file .resource h3 {
    font-size: $base-font-size;
    margin: (.5 * $base-line-height) 0 0;
}

.page .media-render {
    display: flex;
    flex-basis: min-content;
}

.page .media-render a {
    display: block;
}

.page .media-render img {
    vertical-align: top;
}

.left.file {
    float: left;
    margin: 0 $spacing-l $spacing-l 0;
}

.right.file {
    float: right;
    margin: 0 0 $spacing-l $spacing-l;
}

.item-showcase {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    clear: both;
    justify-content: center;
    margin: $spacing-l 0;
}

.preview-block {
    margin: $spacing-l 0;
}

.preview-block .description {
    max-height: 6 * $base-line-height;
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 2 * $base-line-height;
        bottom: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(to bottom, transparent, #ffffff 100%);
    }
}

.breadcrumbs {
    margin-bottom: $spacing-l;
}

.item-with-metadata .resource.show {
    clear: both;
    margin: (2 * $spacing-l) 0;
    overflow: hidden;
}

.caption > *:first-child {
    margin-top: $spacing-m;
}

/* @end */

/* @group ----- Resource List ----- */

ul.resource-list {
    columns: 3;
    list-style-type: none;
    padding-left: 0;
}

ul.resource-list .resource {
    //width: 200px;
    min-height: 250px;
    //border: 1px solid #000;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    zoom: 1;
    *display: inline;
    _height: 250px;

    //border-bottom: 1px solid $light;
    padding-bottom: $spacing-l - 1px;
    margin: $spacing-l 0;
    overflow: hidden;
    position: relative;

    & > *:last-child {
        margin-bottom: 0;
    }

    &:first-child {
        //border-top: 1px solid $light;
        //padding-top: $spacing-l - 1px;
    }
}

ul.resource-list .resource img {
    height: auto;
    width: 100%
    //width: 4 * $spacing-l;
    //float: right;
    //margin-left: $spacing-m;
}

ul.resource-list .resource h4 {
    margin-top: 0;
}

ul.resource-list .resource .description {
    max-height: 4 * $spacing-l;
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 2.75 * $spacing-l;
        left: 0;
        right: 0;
        height: 1.25 * $spacing-l;
        background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    }
}

ul.resource-list .resource img ~ * {
    width: calc(100% - #{4.5 * $spacing-l});
}

/* @end */

/* @group ----- Resource/Show ----- */

.resource.show #content > h2:first-of-type {
    margin-bottom: 0;
    display: block;
    width: 80%;
    float: right;
    word-break: break-word;
    margin: 0 $spacing-s $spacing-l 0;
}

.resource.show #content > h2 + h3 {
    font-family: $body-font;
    font-size: $base-font-size;
    background-color: #000;
    color: #e7e7e7;
    padding: $spacing-s $spacing-m;
    display: block;
    margin: $spacing-s 0;
    line-height: $base-line-height;
    vertical-align: middle;
    width: calc(20% - #{.75 * $spacing-l});;
    float: left;
    text-align: right;
}

.resource.show .property {
    margin-bottom: $spacing-l;
    text-align: right;
    width: 50%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: $spacing-l;
    clear: left;
}

.resource.show .property h4,
#linked-resources > h4 {
    width: 25%;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding-right: $spacing-m;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

.resource.show .property .field-term {
    font-size: .75 * $base-font-size;
    display: inline-block;
}

.resource.show .property .values,
.resource.show .property h4 + .value {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    text-align: left;

    &:not(:first-of-type) {
        border-top: 1px solid $gray;
        padding-top: $spacing-s - 1px;
        margin-top: $spacing-s;
    }
}

.resource.show .property .language {
	display: none;
}

.resource-link img {
    height: 1.5 * $spacing-l;
    width: auto;
    vertical-align: middle;
    margin: 0 $spacing-s 0 0;
}

.resource.show .property table {
    margin-top: -$spacing-s;
}

.resource.show .media-list {
    width: 50%;
    margin: $spacing-l 0 0;
    display: inline-block;
    text-align: center;
}

.resource.show .media-list .resource-link {
    margin-bottom: $spacing-l;
    display: block;
}

.resource.show .media-list img {
    max-width: 100%;
    height: auto;
}

.resource.show .media-list .resource-name {
    display: none;
}

.resource.show .media-list ~ * {
    clear: both;
}

.media-render {
    clear: both;
}

.media-render > * {
    max-width: 100%;
}

.media.resource.show .property {
    width: 100%;
    display: flex;
}

.media.resource.show .property h4 {
    width: 20%;
}

.media.resource.show .property .value {
    width: 80%;
}

.media.resource.show .media-render {
    margin: $spacing-l 0;
    text-align: center;
}

#item-linked {
    clear: left;
}

#item-linked h3 {
    margin: $spacing-m 0 (1.5 * $spacing-l);
}

#linked-resources {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    flex-wrap: wrap;
    align-items: flex-start;
}

#linked-resources caption {
    text-align: left;
    font-weight: bold;
    padding: $spacing-s $spacing-s ($spacing-s - 3px);
    border-bottom: 3px solid #000;
}

#linked-resources th {
    text-align: left;
    border-bottom: 1px solid #000;
}

.linked-header,
.linked-footer {
    width: 100%;
    margin-bottom: $spacing-l;
    display: flex;
    justify-content: flex-end;
}

#linked-filter {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
    margin-right: auto;
}

#linked-filter h4 {
    font-size: $base-font-size;
    width: auto;
    padding: 0;
    margin-right: $spacing-s;
    text-align: left;
}

#linked-resources > h4 {
    padding: $spacing-s;
    margin: 0;
    text-align: right;
}

#item-linked .pagination {
    width: 50%;
    text-align: right;
}

#item-linked .resource-link img {
    height: 1.5 * $spacing-l;
    width: auto;
    display: block;
    margin-right: $spacing-s;
}

#linked-resources .linked-resource {
    border-bottom: 1px solid $gray;
    margin-bottom: $spacing-m;
    width: 75%;
    padding: 0 $spacing-s #{$spacing-m - 1px};
}

#linked-resources .resource-link {
    display: flex;
    align-items: center;
}

/* @end */

/* @group ----- Resource/Browse ----- */

.filter {
    border-radius: 2px;
    margin-bottom: 12px;
    border: 1px solid #000;
    display: inline-block;
}

.filter-label {
    display: inline-block;
    padding: 5px;
}

.filter-value {
    padding: 5px 12px;
    display: inline-block;
    background-color: #000;
    color: #fff;
}

a.advanced-search {
    @include button;
    float: right;
}

/* @end */

/* @group ----- Advanced Search ----- */

#advanced-search select {
    margin-bottom: $spacing-m;
}

#advanced-search {
    padding: $spacing-l 0;
}

#advanced-search input[type="text"] {
    height: 1.25 * $base-line-height;
}

#advanced-search input[type="submit"] {
    font-size: 1.25 * $base-font-size;
    padding: $spacing-s;
}

#advanced-search .remove-value {
    text-indent: -9999px;
    position: relative;
    width: 1.25 * $spacing-l;
    height: 1.25 * $spacing-l;
    margin-left: $spacing-s;

    &:before {
        content: "\f014";
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: 1.25 * $base-line-height;
    }
}

.search-entry:not(:first-child) {
    margin-top: $spacing-m;
}

/* @end */

/* @end */

/* @group ----- Common Modules ----- */

.value a.metadata-browse-link {
    font-size: .875 * $base-font-size;
} // Metadata Browse

/* @end */
